<h1><%= @beer_club.name %></h1>

<p>
	<%= "Founded #{@beer_club.founded} in #{@beer_club.city}" %>
</p>


<h2>Members</h2>
<% @confirmed_members.each do |member| %>
<ul>
	<li><%= link_to member.username, user_path(member.id) %> </li>
</ul>
<% end %>
<% if current_user && is_member %>
<h2>Outstanding applications</h2> 
<% @unconfirmed_members.each do |member| %>
<ul>
	<li><%= link_to member.username, user_path(member.id) %> 
		<%= link_to "Confirm", 
		confirm_membership_path(member.membership_of_beer_club(@beer_club.id).id), 
		method: :post, class: "btn btn-primary" %>
	</li>

</ul>
<% end %>
<% end %>


</br>
</br>
</br>
<% if current_user && is_member %>
<%= form_for(@membership, method: "delete") do |f| %>
<%= f.hidden_field :beer_club_id %>
<%= f.submit value: "End your membership" %>
<% end %>
<% end %>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Delete', @beer_club, method: :delete, data: { confirm: "Are you sure you want to delete \'#{@beer_club.name}\'" }%>
