</br>
<p>
	<strong><%= @user.username %></strong>
</p>
<p>
	<%= "Has made #{pluralize(@user.ratings.count, 'rating')}, with an average of #{@user.average_rating} points" %>
</p>

<% if @confirmed_clubs.count > 0 %>
<h3>Member of:</h3>

<ul>
	<% @confirmed_clubs.each do |bc| %>
	<li><%= link_to bc.name, beer_club_path(bc.id)%></li>
	<% end %>
</ul>
<% end %>

<% if @unconfirmed_clubs.count > 0 %>
<h3>You have applied membership of:</h3> 
<ul>
	<% @unconfirmed_clubs.each do |bc| %>
	<li><%= link_to bc.name, beer_club_path(bc.id)%></li>
	<% end %>
</ul>
<% end %>

<% if @user.ratings.count > 0 %>
<h3>Beers you have rated</h3>
<ul>
	<% @user.ratings.each do |rating| %>
	<li>
		<%= rating %>
		<% if @user == current_user %>
		<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</li>
	<% end %>
</ul>
<% end %>

<% if @user.frozen_account && is_admin_view %>
<button class="btn btn-primary" disabled="disabled"> <%=  "This account is frozen!" %> </button>
<% end %>
<% if is_admin_view %>
<%= toggle_account_status(@user) %>
<% end %>

<% if !current_user.nil? && current_user.id == @user.id %>	
<%= link_to 'Edit', edit_user_path(@user) , class:"btn btn-primary"%> 
</br>
</br>
<%= link_to 'Delete profile', @user, method: :delete, data: { confirm: "	Are you sure?\nThere is no going back from here" } , class:"btn btn-danger"%>
<% end %>

