
<p>
	<strong><%= @user.username %></strong>
	
</p>
<p>
	<%= "Has made #{pluralize(@user.ratings.count, 'rating')}, with an average of #{@user.average_rating} points" %>
</p>
<% if @beer_clubs.count > 0 %>
Member of:
<% @beer_clubs.each do |bc| %>
<%= link_to bc.name, beer_club_path(bc.id)%>
<% end %>
<% end %>
<ul>
	<% @user.ratings.each do |rating| %>
	<li>
		<%= rating %>
		<% if @user == current_user %>
		<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</li>
	<% end %>
</ul>

<% if !current_user.nil? && current_user.id == @user.id %>	
<%= link_to 'Edit', edit_user_path(@user) , class:"btn btn-primary"%> 
</br>
</br>
<%= link_to 'Delete profile', @user, method: :delete, data: { confirm: "	Are you sure?\nThere is no going back from here" } , class:"btn btn-danger"%>
<% end %>

