</br>
<div class="row">
	<div class="col-sm-4">
		<% cache 'best_three_beers_list', expires_in:10.minutes do %>
		<h2>Best beers</h2>
		<%= render 'list', best_three: @best_three_beers %>
		<% end %>
	</div>
	<div class="col-sm-4">
		<% cache 'best_three_breweries_list', expires_in:10.minutes do %>
		<h2>Best breweries</h2>
		<%= render 'list', best_three: @best_three_breweries %>
		<% end %>
	</div>
	<div class="col-sm-4">
		<% cache 'best_three_styles_list', expires_in:10.minutes do %>
		<h2>Best styles</h2>
		<%= render 'list', best_three: @best_three_styles %>
		<% end %>
	</div>
</div>
<% cache 'most_active_users_list', expires_in:10.minutes do %>
<div class="row">
	<h2>Most active users</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>User</td>
				<td>Favorite beer</td>
				<td>Preferred style</td>
				<td>Favorite brewery</td>
				<td>Ratings</td>
			</tr>
		</thead>
		<tbody>
			<% @most_active_users.each do |user| %>
			<% unless user.amount_of_ratings == 0 %>
			<tr>  
				<td><%= link_to user.username, user%></td>
				<td><%= link_to user.favorite_beer.name, user.favorite_beer%></td>
				<td><%= link_to user.favorite_style.name, user.favorite_style%></td>
				<td><%= link_to user.favorite_brewery.name, user.favorite_brewery%></td>
				<td><%= user.amount_of_ratings%></td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>
<% cache 'recent_ratings_list', expires_in:10.minutes do %>
<div>
	<h2>Recent Ratings</h2>
	<ul>
		<% @recent_ratings	.each do |rating| %>
		<li> <%= link_to rating, rating.beer %> <%= link_to rating.user.username, user_path(rating.user_id)%> </li>	<% end %>
	</ul>
</div>
<% end %>
</br>
<% unless current_user.nil? %>
<%= link_to 'New Rating', new_rating_path, class:"btn btn-success" %>
<% end %>