<h1><%= @style.name %></h1>

<p><%= @style.description %></p>

<b>Beers:</b>
<ul>
	<% @beers.each do |beer| %>
	<li><%= link_to beer.name, beer%> by, <%=link_to beer.brewery.name, beer.brewery %> </li>
	<% end %>
</ul>
<%= edit_and_destroy_buttons(@style) %>