<h2><%= @brewery.name %></h2>
<% if not @brewery.active  %>
<span class="label label-info">retired</span>
<% end %>
<h3><em>Established in <%= @brewery.year%> </em></h3>
<p>Beers in this brewery: <%= @brewery.beers.count%> </p>

<p>
	<% @brewery.beers.each do |beer| %>
	<%= link_to beer.name, beer %></br>
	<% end %>
</p>
<p>
	<% if @brewery.ratings.empty? %>
	No beers in this brewery have been rated
	<% else %>	
	<%= "Has #{pluralize(@brewery.ratings.count, 'rating')}, average #{@brewery.average_rating} " %>
	<% end %>
	
</p>
</br>
<%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
<%= edit_and_destroy_buttons(@brewery) %>