<h2><%= @brewery.name %></h2>

<h3><em>Established in <%= @brewery.year%> </em></h3>
<p>Beers in this brewery: <%= @brewery.beers.count%> </p>

<p>
	<% @brewery.beers.each do |beer| %>
	<%= link_to beer.name, beer %></br>
	<% end %>
</p>
<p>
	<% if @brewery.ratings.empty? %>
	No beers in this brewery have been rated
	<% else %>	
	<%= "Has #{pluralize(@brewery.ratings.count, 'rating')}, average #{@brewery.average_rating} " %>
	<% end %>
	
</p>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
