<h1>Listing beers</h1>

<% cache "beerlist-#{@order}", skip_digest: true do %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to 'Name', beers_path(order:"name") %></th>
      <th><%= link_to 'Style', beers_path(order:"style") %></th>
      <th><%= link_to 'Brewery', beers_path(order:"brewery") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
    <% byebug if beer.brewery.nil? %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
      <td><%= beer.style.name%></td>
      <td><%= link_to beer.brewery.name, beer.brewery %></td>
      <td><%= link_to 'Edit', edit_beer_path(beer) , class:"btn btn-primary"%></td>
      <td><%= link_to 'Delete', beer, method: :delete, data: { confirm: "Are you sure you want to delete \'#{beer.name}\'" } , class:"btn btn-danger"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Beer', new_beer_path , class:"btn btn-success"%>
