
<p>
	<strong>Name:</strong>
	<%= @beer.name %>
</p>

<p>
	<strong>Style:</strong>
	<%= @beer.style.name %>
</p>

<p>
	<strong>Brewery:</strong>
	<%= @beer.brewery.name %>
</p> 
<p>
	<% if @beer.ratings.empty? %>
	This beer has not been rated yet!
	<% else %>	
	<%= "Has #{pluralize(@beer.ratings.count, 'rating')}, average #{@beer.average_rating} " %>
	<% end %>
	
</p>
<% if current_user %>

<h4>Rate this beer:</h4>

<%= form_for(@rating) do |f| %>
<%= f.hidden_field :beer_id %>
Score: <%= f.number_field :score %>
<%= f.submit  class:"btn btn-primary"%>
<% end %>
<% end %>
</br>
<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Delete', @beer, method: :delete, data: { confirm: "Are you sure you want to delete \'#{@beer.name}\'" }%>
