
<%= form_tag places_path do %>
City:  <%= text_field_tag :city, params[:city] %>
<%= submit_tag "Search", class:"btn btn-primary"%>
<% end %>

<% if @places %>
<table class="table table-hover">
  <thead>
    <% Place.rendered_fields.each do |f| %>
    <td><%=f%></td>
    <% end %>
    <td></td>
  </thead>
  <% @places.each do |place| %>
  <tr>
    <% Place.rendered_fields.each do |f| %>
    <td><%=place.send(f)%></td>
    <% end %>
    <td><%= link_to "Show", place_path(place.id) , class:"btn btn-primary"%></td>

  </tr>
  <% end %>
</table>
<% end %>