		<li><%= link_to 'Breweries', breweries_path %> </li>
		<li><%= link_to 'Beers', beers_path %> </li>
		<li><%= link_to 'Clubs', beer_clubs_path %></li>
		<li><%= link_to 'Places', places_path %></li>
		<li><%= link_to 'Ratings', ratings_path %> </li>
		<li><%= link_to 'Styles', styles_path %></li>
		<li><%= link_to 'Users', users_path %></li>

		<% unless current_user.nil?%>
			<li><%= link_to current_user.username, current_user %></li>
			<li><%= link_to 'Rate a beer', new_rating_path %></li>
			<li><%= link_to 'Join a club', new_membership_path %></li>
			<li><%= link_to 'Sign out', signout_path, method: :delete %>   </li>
			<% else %>
			<li><%= link_to 'Sign in', signin_path %></li>
			<li><%= link_to 'Sign up', signup_path %></li>

		<% end %>
